.DS_Store
.thumbs.db
node_modules

# Quasar / Vite
/quasar.config.*.temporary.compiled*
/.quasar
/dist
/quasar.testing.json

# Cordova / Capacitor / Electron
/src-cordova
/src-capacitor
/src-electron

# Editor settings
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env
.env.local
.env.*.local
/test-results
